 .item{
    display: flex; 
    flex-direction: column; 
    border-radius: 10px; 
    width:31%;
 }
 img{
    border-radius: 10px;
    height: 70%;
 } 
 .item-details{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-start; 
    margin-left: 15px;

 }