.item{
   display: flex; 
   flex-direction: column; 
   border-radius: 10px; 
   background-color: white;
   padding: 10px;
}
.item:hover{
   margin-top: -10px; 
   margin-bottom: 10px;
}
.image{
   border-radius: 10px;
   
} 
.detail-para{
   color: #8d9990; 
   display: -webkit-box; 
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden ; 
   width: 100%;
}
.item-details{
   display: flex; 
   flex-direction: column; 
   justify-content: space-between; 
   align-items: flex-start; 
   margin-left: 15px;

} 
.learn-button{
   background-color: transparent; 
   border-width: 0; 
   color: #07cff2; 
   font-weight: bold; 
   width: 100%;
}
.learn-button:hover{
   color: #0723f2;
} 
@media (min-width:768px) and (max-width: 992px){
   .item{
      width: 40% ;
   }
} 
@media (max-width:768px) {
   .item{
      width: 60% ;
   }
}
@media (min-width: 768px){
   
   .list-item-head{
      font-size: 20px; 
      font-weight: bold;
   }
   .detail-para{
       font-size: 14px;
   }
   .learn-button{
      font-size: 12px;
   }
} 

@media (min-width: 1200px){
   .list-item-head{
      font-size: 25px; 
      font-weight: bold;
   }
   .detail-para{
       font-size: 18px;
   }
   .learn-button{
      font-size: 15px;
   }
}