.login-container{
    background-image: linear-gradient(to right, #f05a0a, #faf602); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-size: cover;
} 

.form-container{
    background-color: white; 
    border:2px solid blue; 
    border-radius: 10px;
    padding: 25px; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 30%;
} 
label{
   display: flex; 
}
input{
    display: block; 
    margin-bottom: 2px; 
    width: 95%; 
    height: 25px; 
    margin-top: 4px;
} 
.button{ 
    background-color:#ed5d09; 
    color:white;  
    font-size: bold;
    width: 97% !important; 
    height: 35px; 
    border-width: 0px; 
    border-radius: 5px; 
    margin-top: 25px;
} 

span{
    color: red;
} 
.error{
    color: red;
    font-weight: bold; 
    width: 100%;
    text-align: center ;
} 

.credential{
    font-size: 14px;
    width:100%;
    color: #a39e8e !important;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 34px;
} 
h4{
    text-align: center;
}
.forgot-container{
    display: flex;
}
.forgot-password{
    color: #a39e8e; 
    font-weight: normal;
    width: 60%;
}
.reset-password{
    font-weight: normal;
    width: 40%;
} 
.button:hover{
    background-color: #ed5d09; 
    font-weight: bold;
}